.r_wrap{
width: 800px;
}
.actnew_wrap{
width: 638px;
margin: 62px auto 0;
}
.actnew_nav, .actnew_nav2{
background: url(img/activity_invite4.png) no-repeat 0 0;
display: block;
width: 638px;
height: 54px;
}
.actnew_nav2{
background: url(img/activity_invite2.png) no-repeat 0 0;
}
.tip{
margin: 36px 0 16px;
}
.tip p{
padding-bottom: 16px;
font-size: 15px;
color: #666;
}
.tip em{
margin: 0 4px;
}
.msg_text{
color: #666;
width: 620px;
height: 80px;
padding: 10px;
resize:none;
border: 1px solid #ccc;
font-size: 15px;
margin-bottom: 16px;
}
.cpn_btn_wrap{
text-align: center;
overflow: hidden;
margin-top: 32px;
}
.send_ok{
width: 177px;
height: 41px;
display: inline-block;
background: url(img/send_ok.png) no-repeat 0 0;
border: none;
cursor: pointer;
}
.back_btn, .close_btn{
background: url(img/back_btn.png) no-repeat 0 0;
width: 100px;
height: 41px;
display: inline-block;
border: none;
cursor: pointer;
margin-right: 22px;
}
.close_btn{
background: url(img/act_back_btn.png) no-repeat 0 0;
}
.send_btn{
background: url(img/save_and_send.png) no-repeat 0 0;
width: 177px;
height: 41px;
display: inline-block;
border: none;
cursor: pointer;
margin-right: 22px;
}
.send_btn:hover, .send_ok:hover, .back_btn:hover, .close_btn:hover, .next_btn:hover{
opacity: 0.8;
}
.recharge_a{
color: #0670f3;
text-decoration: underline;
}
.recharge_a:hover{
text-decoration: underline;
}
.com_list{
margin-top: 32px;
}
.com_list tr td{
padding: 0 84px 12px 0;
color: #666;
}
.com_list em{
color: #63a004;
}
.act_name{
font-weight: bold;
font-size: 16px;
}
.next_btn{
width: 177px;
height: 41px;
display: inline-block;
background: url(img/act_next_btn.png) no-repeat 0 0;
border: none;
cursor: pointer;
}