body {
	background-color: #F0F0F0;
}
.mt25 {
	margin-top: 25px;
}
.top {
	height: 52px;
	border-bottom: 0;
	background-color: #FFFFFF;
	background-image: none;
	box-shadow: 1px 1px 1px #E1E1E1;
}
.top_main {
	width: 1080px;
}
.logo {
	width: 109px;
	height: 52px;
	background: url('img/logo.png') no-repeat center center;
	margin-top: 0; 
}
.middle_line {
	margin: 0 23px;
}
.title_text {
	display: inline-block;
	vertical-align: 22px;
	font-size: 12px;
	color: #6D6D6D;
	font-weight: bold;
	line-height: 23px;
}
.context_main {
	width: 1080px;
	height: 500px;
	background-color: #FFFFFF;
	border-radius: 3px;
	margin: 63px auto 0;
	font-family: "微软雅黑";
}
.context_main .step_header {
	position: relative;
	width: 932px;
	height: 44px;
	padding-top: 39px;
	margin: 0 auto;
}
.context_main .step_header .step_1,
.context_main .step_header .step_2 {
	position: absolute;
	width: 470px;
	background: url('img/first_2.png') no-repeat;
}
.context_main .step_header .step_2 {
	right: 0;
	background: url('img/second_2.png') no-repeat;
}
.step_header p {
	text-indent: 25px;
	height: 44px;
	line-height: 44px;
	font-size: 14px;
	color: #BABABA;
}
.step_header p span {
	line-height: 23px;
}
.step_header .step_2 p {
	color: #6D6D6D;
	text-indent: 49px;
}
.step_main {
	margin-top: 25px;
}
.step_main .ps_msg,
.step_main .success_text {
	line-height: 61px;
	text-align: center;
}
.step_main .success_text {
	font-size: 18px;
	color: #428BCA;
}
.step_main .ps_msg {
	font-size: 12px;
	color: #6D6D6D;
}
