.tb_main tr td{
	width: 300px;
}
.span_key{
	width: 50px;
	margin-right: 35px;
	display: inline-block;
}
.tb_wrap2 .tb_main tr td{
	width: 427px;
}
.btn_detail{
	padding-left: 25px;
	background: url(img/admin_frame/recharge_icon.jpg) no-repeat 0;
}
.expense_de{
	background: url(img/admin_frame/ex_icon.jpg) no-repeat 0;	
}
.tb_wrap2s .span_key{
	width: 75px;
}
.sd_main{
width: 237px;
border-radius: 2px;
margin: 0px auto 0;
border: 1px solid #fad4d4;
background: #fff;
}
.sd_title{
color: #4f6c1a;
font-size: 12px;
font-weight: bold;
padding: 6px 0 6px 13px;
background: #eef6df;
}
.sd_titles{
color:#d45656;
background: #fbecec;
}
.sd_titles2{
color: #4f6c1a;
padding: 6px 0 6px 13px;
background: #eef6df;
}
.sd_cont{
background: #fff;
padding: 23px 13px;
font-size: 12px;
color: #666667;
}