.td_price{
font-size: 24px;
color: #212121;
}
.td_price em{
font-size: 12px;
color: #212121;
margin-right: 0;
}
.tb_tiaojian tr td{
border-right: 1px solid #ddd;
}
.side_link{
padding-top: 30px;
padding-bottom: 18px;
}
.tb_main tr .sum{
text-align: center;
}
.act_sel{
border: 1px solid #d9d9d9;
color: #212121;
padding: 4px 8px;
display: block;
margin-left: 22px;
width: 172px;
margin-top: 10px;
border-radius: 3px;
}
.pop_coupon{
width: 373px;
height: 400px;
left: 50%;
margin-left: -200px;
top: 50%;
margin-top: -215px;
position: fixed;
}
.pcp_item{
overflow: hidden;
padding: 9px;
border-bottom: 1px dashed #ededed;
}
.pcp_item{
color: #212121;
}
.pcp_item_bg{
background: #fbfbfb;
color: #a7a7a7;
}
.num_editor{
float: right;
}
.minus, .plus{
width: 20px;
height: 20px;
display: inline-block;
vertical-align: middle;
}
.minus{
background: url(img/admin_frame/minus.png) no-repeat  0 0;
}
.plus{
background: url(img/admin_frame/plus.png) no-repeat  0 0;
}
.num_input{
border: 1px solid #d9d9d9;
width: 40px;
padding: 4px;
border-radius: 3px;
vertical-align: middle;
margin: 0 8px;
text-align: center;
}
.pop_coupon .pb_lb{
display: inline-block;
width: 200px;
}
.pop_coupon .pb_cb{
vertical-align: middle;
}
.pcp_tb{
width: 100%;
}
.pop_coupon .pb_main{
padding: 0;
height: 308px;
overflow: auto;
}
.pop_coupon .pb_btn_wrap{
text-align: center;
border-top: 1px solid #ebebeb;
padding-top: 16px;
}