<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xpos.common.persistence.mybatis.CategoryMapper" >
  <resultMap id="ListMap" type="com.xpos.common.entity.Category" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <association property="parent" column="parent_id" select="selectByPrimaryKey" />
    <association property="banner" column="banner_id" select="com.xpos.common.persistence.mybatis.PictureMapper.selectByPrimaryKey" />
  </resultMap>
  
   <resultMap id="DetailMap" type="com.xpos.common.entity.Category" extends="ListMap">
  </resultMap>
  
  <select id="selectByPrimaryKey" resultMap="DetailMap">
  	select * from Category where id=#{id}
  </select>
  
</mapper>