<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xpos.common.persistence.mybatis.ItemMapper" >
  <resultMap id="ListMap" type="com.xpos.common.entity.Item" >
  	<association property="cover" column="cover_id" select="com.xpos.common.persistence.mybatis.PictureMapper.selectByPrimaryKey" />
  	<association property="category" column="category_id" select="com.xpos.common.persistence.mybatis.ItemCategoryMapper.selectByPrimaryKey" />
  	<association property="itemInventory" column="item_inventory_id" select="com.xpos.common.persistence.mybatis.ItemInventoryMapper.selectByPrimaryKey" />
  </resultMap>
  
  <select id="selectByPrimaryKey" resultMap="ListMap">
  	select * from Item where id=#{id}
  </select>
  
  <select id="selectUnOrderedItemNamesByShopIds" resultType="string">
  		SELECT DISTINCT i.name from Item i where  i.businessType='SHOP' and 
  		 i.businessId in (<foreach collection="shopIds" item="shopId" separator=",">#{shopId}</foreach>)
  		 and i.deleted=FALSE and i.name not in  (
  		 select distinct i2.name from OrderItem oi LEFT JOIN Orders o on o.id = oi.order_id LEFT JOIN Item i2 on i2.id = oi.item_id 
		 where  o.businessId = i2.businessId   and i2.deleted=FALSE  and o.createDate >= #{startDate} and ADDDATE(#{endDate}, 1) > o.createDate and o.status = 'SUCCESS'
		and o.businessType = 'SHOP' and o.businessId in (<foreach collection="shopIds" item="shopId" separator=",">#{shopId}</foreach>) )
  		
  </select>
  
</mapper>