<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xpos.common.persistence.mybatis.ItemCategoryMapper" >
  <resultMap id="ListMap" type="com.xpos.common.entity.ItemCategory" >
   
   </resultMap>
  
  <resultMap id="DetailMap" type="com.xpos.common.entity.ItemCategory" extends="ListMap">
   </resultMap>
  
  <select id="selectByPrimaryKey" resultMap="ListMap">
  	select * from ItemCategory where id=#{id}
  </select>
  
  <select id="selectCategoryNamesByShopIds" resultType="string">
  	select distinct(ic.name)
  	from ItemCategory ic
  	where ic.businessType='SHOP' and ic.businessId in (<foreach collection="shopIds" item="shopId" separator=",">#{shopId}</foreach>)
	and ic.deleted=FALSE
  </select>
  
  <select id="findItemCategorysByNameAndBusiness" resultType="int">
  		SELECT 
  		   count(id) 
  		FROM ItemCategory 
  	    WHERE 
  	    <if test="id!=null"> id != #{id}  AND </if>
  	        businessId=#{businessId} 
  	    AND businessType=#{businessType} 
  	    AND name=#{name} 
  	    AND deleted = false
  </select>
  
</mapper>