<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xpos.common.persistence.mybatis.OperatorMapper" >
  <resultMap id="ListMap" type="com.xpos.common.entity.Operator" >
    <association property="shop" column="shop_id" select="com.xpos.common.persistence.mybatis.ShopMapper.selectByPrimaryKey" />
  </resultMap>
  
    <resultMap id="DetailMap" type="com.xpos.common.entity.Operator" extends="ListMap">
    
  </resultMap>
    <select id="selectByPrimaryKey" resultMap="DetailMap">
  	select * from Operator where id=#{id}
  </select>
  
  
  <select id="findManagerByNameAndShopId" resultType="com.xpos.common.entity.Operator">
  		select * from Operator where shop_id = #{shopId} and username = #{userName} and level = 'MANAGER' and deleted = false
  </select>
  
</mapper>