<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xpos.common.persistence.mybatis.POSTransactionMapper" >
  <resultMap id="BasicMap" type="com.xpos.common.entity.pos.POSTransaction" >
    <id property="id" column="id"/>
    <result property="orderNumber" column="order_number"/>
    <result property="prepaidCardChargeOrderCode" column="prepaid_card_charge_order_code"/>
    <result property="thirdOrderCode" column="third_order_code"/>
    <result property="businessId" column="businessId"/>
    <result property="businessType" column="businessType"/>
    <result property="mobile" column="mobile"/>
    <result property="sum" column="sum"/>
    <result property="code" column="code"/>
    <result property="serial" column="serial"/>
    <result property="status" column="status"/>
    <result property="type" column="type"/>
    <result property="operator" column="operator"/>
    <result property="cardNumber" column="cardNumber"/>
    <result property="responseCode" column="responseCode"/>
    <result property="terminal" column="terminal"/>
    <result property="location" column="location"/>
    <result property="gatewayAccount" column="gatewayAccount"/>
    <result property="gatewayType" column="gatewayType"/>
    <result property="refNo" column="refNo"/>
    <result property="batchNo" column="batchNo"/>
    <result property="traceNo" column="traceNo"/>
    <result property="authCode" column="authCode"/>
    <result property="cardOrg" column="cardOrg"/>
    <result property="issueCode" column="issueCode"/>
    <result property="issueName" column="issueName"/>
    <result property="createDate" column="createDate"/>
    <result property="tradeDate" column="tradeDate"/>
    <result property="modifyDate" column="modifyDate"/>
    <result property="remark" column="remark"/>
    <association property="user" column="user_unique_no" select="com.xpos.common.persistence.mybatis.UserMapper.selectByUniqueNo" />
  </resultMap>
  
  <resultMap id="ListMap" type="com.xpos.common.entity.pos.POSTransaction" >
    
  </resultMap>
  
  <resultMap id="DetailMap" type="com.xpos.common.entity.pos.POSTransaction" extends="BasicMap">
  </resultMap>
  
  <insert id="save" keyColumn="id" useGeneratedKeys="true" >
	INSERT INTO POSTransaction (
		businessId,
		businessType,
		order_number,
		prepaid_card_charge_order_code,
		third_order_code,
		gatewayAccount,
		gatewayType,
		sum,
		`code`,
		`status`,
		type,
		operator
	)
	VALUES
		(
			#{businessId},
			#{businessType},
			#{orderNumber},
			#{prepaidCardChargeOrderCode},
			#{thirdOrderCode},
			#{gatewayAccount},
			#{gatewayType},
			#{sum},
			#{code},
			#{status},
			#{type},
			#{operator}
		)
  </insert>
  
  <insert id="insertOrUpdate" keyColumn="id" useGeneratedKeys="true" >
	INSERT INTO POSTransaction (
		businessId, businessType,order_number, prepaid_card_charge_order_code, third_order_code, gatewayAccount, gatewayType, sum,
		`code`, serial,`status`, type, cardNumber, responseCode, terminal, location, authCode, refNo, batchNo, traceNo, cardOrg,
		issueCode, issueName, createDate, tradeDate, modifyDate
	)
	VALUES
		(
			#{businessId},#{businessType}, #{orderNumber}, #{prepaidCardChargeOrderCode}, #{thirdOrderCode}, #{gatewayAccount}, #{gatewayType},
			#{sum}, #{code}, #{serial}, #{status}, #{type}, #{cardNumber}, #{responseCode}, #{terminal}, #{location}, #{authCode}, #{refNo},
			#{batchNo}, #{traceNo}, #{cardOrg}, #{issueCode}, #{issueName}, #{createDate}, #{tradeDate}, #{modifyDate}
			
		)
	ON DUPLICATE KEY UPDATE
			 sum = #{sum}, serial = #{serial}, status = #{status}, cardNumber = #{cardNumber}, responseCode = #{responseCode},
			terminal = #{terminal}, location = #{location}, authCode = #{authCode}, refNo = #{refNo}, batchNo = #{batchNo},
			traceNo = #{traceNo}, cardOrg = #{cardOrg}, issueCode = #{issueCode}, issueName = #{issueName}, tradeDate = #{tradeDate}, modifyDate = #{modifyDate}
  </insert>
  
  <select id="selectById" resultMap="BasicMap">
	SELECT
		*
	FROM
		POSTransaction
	WHERE
		id = #{id}
	AND deleted = FALSE
  </select>
  
  <select id="selectByCode" resultMap="BasicMap">
	SELECT
		*
	FROM
		POSTransaction
	WHERE
		code = #{code}
	AND deleted = FALSE
  </select>

  <select id="countTotalAmount" resultType="decimal">
	SELECT
		sum(sum)
	FROM
		POSTransaction
	WHERE
		#{whereClause}
  </select>
  
  <update id="updateById">
	  update POSTransaction
	  set modifyDate = now()
	  	<if test="mobile != null">, mobile = #{mobile}</if>
	  	<if test="serial != null">, serial = #{serial}</if>
	  	<if test="status != null">, status = #{status}</if>
	  	<if test="cardNumber != null">, cardNumber = #{cardNumber}</if>
	  	<if test="responseCode != null">, responseCode = #{responseCode}</if>
	  	<if test="terminal != null">, terminal = #{terminal}</if>
	  	<if test="location != null">, location = #{location}</if>
	  	<if test="authCode != null">, authCode = #{authCode}</if>
	  	<if test="refNo != null">, refNo = #{refNo}</if>
	  	<if test="batchNo != null">, batchNo = #{batchNo}</if>
	  	<if test="traceNo != null">, traceNo = #{traceNo}</if>
	  	<if test="cardOrg != null">, cardOrg = #{cardOrg}</if>
	  	<if test="issueCode != null">, issueCode = #{issueCode}</if>
	  	<if test="issueName != null">, issueName = #{issueName}</if>
	  	<if test="remark != null">, remark = #{remark}</if>
	  	<if test="tradeDate != null">, tradeDate = #{tradeDate}</if>
	  where id = #{id}
  </update>

  <select id="getPayTransactionGroupByOrderNumber"  resultType="com.xkeshi.pojo.vo.transaction.POSTransactionVO">
	  	SELECT 
		   SUM(COALESCE(t.sum , 0.00))  amount 
		FROM
			postransaction  t 
	    WHERE
	    	t.order_number = #{orderNumber}  AND t.`deleted`  = false AND (t.status = 'PAID_SUCCESS' or t.status = 'PAID_REFUND')
		GROUP BY  t.order_number
   </select>
   
   <!-- 官方pos刷卡 -->
	<select id="getOrderTotalAmountByOperatorSessionCode" resultType="com.xkeshi.pojo.vo.shift.POSPayTransactionVO">
		SELECT
			SUM(COALESCE(t.sum , 0.00)) totalAmount
		FROM
			POSTransaction t
			LEFT OUTER JOIN Orders o ON t.order_number = o.orderNumber
		WHERE
			o.operator_session_code = #{operatorSessionCode}
			AND o.status = 'SUCCESS'
			<if test="type != null and type != ''">
				AND t.type = #{type}
			</if>
			GROUP BY o.operator_session_code
	</select>
	
   <!-- 第三方pos刷卡 -->
	<select id="getThirdOrderTotalAmountByOperatorSessionCode" resultType="com.xkeshi.pojo.vo.shift.POSPayTransactionVO">
		SELECT
			SUM(COALESCE(t.sum , 0.00)) totalAmount
		FROM
			POSTransaction t
			LEFT OUTER JOIN third_order o ON t.third_order_code = o.third_order_code
		WHERE
			    t.type = #{type}
			AND	o.operator_session_code = #{operatorSessionCode}
			AND t.status  = 'PAID_SUCCESS'
			AND o.third_order_payment_status_id  = 1
			GROUP BY o.operator_session_code
	</select>
	
	<select id="countByOperatorAndType" resultType="int">
       select 
       	count(*) 
       from 
       	POSTransaction ct
       <choose>
           <when test="orderType == 'XPOS_ORDER'"> join orders o on o.orderNumber = ct.order_number and o.operator_id = #{operatorId}</when>
           <when test="orderType == 'THIRD_ORDER'"> join third_order tt on tt.third_order_code = ct.third_order_code and tt.operator_id = #{operatorId}</when>
       </choose>
       where 
        ct.createDate >= #{startTime} 
       and #{endTime} >= ct.createDate
       and o.status = #{orderStatus}
   </select>
   
   <select id="getAmountByOperatorAndType" resultType="java.math.BigDecimal">
       select 
      	 IFNULL(SUM(COALESCE(ct.sum , 0.00)),0)
       from 
       	POSTransaction ct
       <choose>
           <when test="orderType == 'XPOS_ORDER'"> join orders o on o.orderNumber = ct.order_number and o.operator_id = #{operatorId}</when>
           <when test="orderType == 'THIRD_ORDER'"> join third_order tt on tt.third_order_code = ct.third_order_code and tt.operator_id = #{operatorId}</when>
       </choose>
       where 
        ct.createDate >= #{startTime} 
       and #{endTime} >= ct.createDate
       and o.status = #{orderStatus}
   </select>
   
</mapper>