<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xpos.common.persistence.mybatis.TerminalMapper" >
  <resultMap id="ListMap" type="com.xpos.common.entity.Terminal" >
      <association property="shop" column="shop_id" select="com.xpos.common.persistence.mybatis.ShopMapper.selectByPrimaryKey" /> 
  </resultMap>
  
    <resultMap id="DetailMap" type="com.xpos.common.entity.Terminal" extends="ListMap">
    
  </resultMap>
    <select id="selectByPrimaryKey" resultMap="DetailMap">
  	select * from Terminal where id=#{id}
  </select>
</mapper>