<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xpos.common.persistence.mybatis.ThirdpartyCouponInfoMapper">
  <resultMap id="ListMap" type="com.xpos.common.entity.ThirdpartyCouponInfo">
    <association property="pic" column="pic_id" select="com.xpos.common.persistence.mybatis.PictureMapper.selectByPrimaryKey" /> 
    <association property="thumb" column="thumb_id" select="com.xpos.common.persistence.mybatis.PictureMapper.selectByPrimaryKey" /> 
  </resultMap>
  <resultMap id="DetailMap" type="com.xpos.common.entity.ThirdpartyCouponInfo" extends="ListMap" >
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
    <association property="pic" column="pic_id" select="com.xpos.common.persistence.mybatis.PictureMapper.selectByPrimaryKey" /> 
    <association property="thumb" column="thumb_id" select="com.xpos.common.persistence.mybatis.PictureMapper.selectByPrimaryKey" /> 

  </resultMap>
  
    <select id="selectByPrimaryKey" resultMap="ListMap">
  	select * from ThirdpartyCouponInfo where id=#{id}
  </select>
</mapper>